@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    transition: .5s all;
    padding-top: 6rem;
}

#app {
    background: white;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: column-reverse;
    border-radius: 5px;
    font-family: 'Raleway' , sans-serif;
    font-size: 2rem;
    text-align: right;
    padding: 1rem;
    font-weight: thin;
}

p {
    display: inline;
    font-style: italic;
    text-align: center;
}

.div_Author_Quote {
    display: flex;
    flex-flow: column;
}

.author {
    padding-bottom: 2rem;
}

.buttons_container {
    display: flex;
    justify-content: space-between;
}

.quote_button , .tweet_button {
    height: 2.5rem;
    width: 8rem;
    border: none;
    border-radius: 3px;
    transition: .5s all;
    color: white;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.tweet_button {
    width: 3rem;
    font-size: 1.5rem;
}
/***************************************
********** MEDIA QUERIES ***************/

@media only screen and (max-width : 1024px) {
      #app {
        width: 50%;
    }   
}
    
@media only screen and (max-width : 768px) {
    #app {
        width: 60%;
    }
}
    
@media only screen and (max-width : 600px) {
     #app {
        width: 70%;
        font-size: 1.5rem;
    }
}
    
@media only screen and (max-width : 500px) {
        
    #app {
        width: 80%;
    }
}
    
@media only screen and (max-width : 414px) {
        
    #app {
        width: 90%;
    }
}
    
@media only screen and (max-width : 320px) {
        
    #app {
            width: 95%;
    }
}
    
    